.container .row .page-title
  padding-top 10px
  padding-bottom 5px
  clear both
  color #000 !important
  background transparent !important

  h2
    float left
    font-family "Arvo"
    font-size 26px
    font-weight bold
    text-transform uppercase

  .actions
    float right
    margin-right 12px
    padding-top 20px

  .subtitle
    font-size 14px
    float left
    margin-top 32px
    margin-left 10px
    font-family "Arvo"

.table
  font-family "Arvo"
  font-size 13px

  td, th
    padding 5px

  .btn
    padding 5px
    height auto
    margin-bottom 10px

.serie-item
  padding 10px

div.input
  position relative
  margin-bottom 20px

.error-message
  color red
  font-size 12px
  position absolute
  left 0px
  bottom -2px

.chip-aluno
  float left
  margin-left 6px

.chip-remover-aluno
  float left
  margin-left 1px

.chip-materia
  padding-left 10px !important
