#formulario-busca
  margin-top 15px
  position relative

  input
    margin 0px
    height 45px
    line-height 66px
    border none

  label
    color $black
    top 8px
    position relative

  .btn-enviar-busca
    background transparent
    border none
    position relative
    top 20px

    i
    font-size 24px
