#formulario-busca
  margin-top 15px
  position relative

  .input-field
    margin 0px

  input
    margin 0px
    height 45px
    line-height 66px
    border none

  label
    color $black
    top 30px

  .btn-enviar-busca
    background transparent
    border none

    i
    font-size 24px
