.pep-atores

  .collapsible-header
    background #26a69a
    color #FFF

  li i.material-icons
    float right
    margin 0px

.pep-autor-voce
  font-weight bold !important

.pep-btn-adicionar-novas-infos
  width 100%
  font-size 12px

.pep-feed

  .card-feed

    .card-content
      .card-title
        font-size 20px
        line-height 20px
        margin-bottom 10px
        display inline-block

.chip
  margin-bottom 10px
  padding 0px 6px !important
  padding-left 0px !important
  font-size 11px !important
  margin-right 4px

.cargo
  background: #666;
  line-height: 32px;
  float: left;
  width: 37px;
  font-family: "Arvo";
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  margin-right: 4px;
  text-align: center;
  position: relative;
  left: -1px;

.chip-hashtag
  padding-left 6px !important

#observacao

  li
    list-style-type disc
    margin-bottom 10px

  ul
    padding 18px

.link-card
  color $black

.modal .modal-footer
  background transparent !important

  a
    color #FFF
