#mensagens {
  height: 600px;
  overflow-y: auto;
  margin: 0px;
  padding: 0px;
}
#mensagens li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
#mensagens a.ativo, #mensagens a.ativo:hover {
  background: #666;
  text-decoration: none;
  color: #FFF;
}
#mensagens a.ativo:hover .arrow i {
  color: #FFF !important;
}
#mensagens a {
  float: left;
  display: inline;
  width: 100%;
  height: 120px;
  clear: both;
  background: rgba(255, 255, 255, 0.4);
  padding: 12px;
  position: relative;
  color: #333;
  border-bottom: 1px solid #CCC;
}
#mensagens a:hover {
  text-decoration: none;
  background: rgba(255, 255, 255, 1);
}
#mensagens a:hover .arrow i {
  color: #666;
}
#mensagens a .from {
  font-weight: bold;
  font-size: 11px;
}
#mensagens a .subject {
  font-weight: bold;
  font-size: 13px;
}
#mensagens a .excerpt {
  font-size: 12px;
}
#mensagens a .date {
  position: absolute;
  right: 22px;
  top: 12px;
}
#mensagens a .arrow i {
  position: absolute;
  right: 22px;
  top: 50px;
  font-size: 34px !important;
  color: #CCC;
  width: auto !important;
}
#visao-mensagem {
  position: relative;
  padding-top: 20px;
}
.btn-fechar-mensagem i {
  position: absolute;
  right: 12px;
  top: 6px;
  font-size: 32px;
  color: #666;
}
.btn-fechar-mensagem i:hover {
  color: #999;
}
span.from {
  margin: 3px;
}
.select2-container .select2-selection--multiple {
  display: block!important;
  height: 32px!important;
  white-space: nowrap!important;
  line-height: 18px!important;
  font-size: 10px!important;
}
.select2-container .select2-search--inline .select2-search__field {
  display: none;
}
.form-control {
  border: 1px solid #aaa !important;
}
.form-control:focus {
  border: 1px solid #666 !important;
}