#search

  &::-webkit-input-placeholder
    color #FFF
  &:focus&::-webkit-input-placeholder
    color #222

#pep-menu-btn
  display inline-block
  margin-left 12px

.card-title
  color #26a69a
  font-weight bold !important

.small-logo
  margin-top 20px
  display inline-block

.toast
  background #e91e63
  font-weight bold

.input input
  padding-left 4px

.brand-logo img
  padding-top 6px

.input-field .k-widget
  width 100%

.tabs .tab a
  font-size 13px

.aba-planilha
  padding-top 20px !important

strong
  font-weight 900 !important