// Geral
@import "_variables"
@import "sections/_header"
@import "pages/_base"

// Páginas
@import "pages/_login"
@import "pages/_feed"
@import "pages/_evolucao"
@import "pages/_cms"

@media only screen and (max-width: 992px)
  .side-nav.fixed
    width 100% !important
    transform none !important
    position relative !important
    padding-bottom 0px !important
