#btn-busca-evolucao {
  margin-top: 22px;
}
ul[dnd-list],
ul[dnd-list] > li {
  position: relative;
}
ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}
ul[dnd-list] .dndDraggingSource {
    display: none;
}
ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 42px;
}
ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}
ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}
.side-nav {
  width: 250px !important;
  background: #33d1ff !important;
  box-shadow: none !important;
}
.side-nav li {
  padding: 0 15px;
}
#main {
  padding-left: 90px;
}
.side-nav .material-icons {
  margin-top: 18px;
  margin-right: 14px;
}
.pep-login .side-nav.fixed a {
  font-family: "Arvo";
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
}
.pep-login .side-nav.fixed a:hover {
  background: transparent !important;
}
.pep-login .side-nav.fixed li:hover,
.selecionado {
  background: rgba(255,255,255,0.3) !important;
}
.pep-login .side-nav.fixed li:hover {
  background: rgba(255,255,255,0.4) !important;
}
.pep-login .side-nav.fixed a,
.pep-login .side-nav.fixed i {
  color: #fff;
}
#btn-abrir-cms {
  font-weight: bold;
  padding-left: 32px;
  border: 1px solid #fff;
}
.titulo-cms {
  line-height: 20px;
  height: 20px;
  font-size: 16px;
  text-align: center;
  font-family: "Arvo";
  font-weight: 300;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 20px;
  float: left;
  width: 100%;
}
.side-nav-cms {
  background: #007ea4 !important;
}
.dropdown-content a {
  color: #000 !important;
  padding: 0px 5px !important;
  height: 34px !important;
  line-height: 34px !important;
  font-size: 12px !important;
}
.dropdown-content .material-icons {
  color: #000 !important;
  margin-top: 0px !important;
  font-size: 18px !important;
}
.dropdown-content li {
  height: 34px !important;
  line-height: 34px !important;
  min-height: auto !important;
}
html {
  position: relative;
  min-height: 100%;
}
body {
/* Margin bottom by footer height */
  margin-bottom: 70px !important;
}
.side-nav.fixed a {
  padding: 0 10px !important;
}
#rodape {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  text-align: right;
}
#rodape hr {
  border: none;
  border-bottom: 1px dashed #ccc;
}
#rodape em {
  padding-right: 20px;
  margin-top: 20px;
  display: block;
  padding-bottom: 20px;
  color: #999;
}
#search {
  border: none;
}
#search::-webkit-input-placeholder {
  color: #222;
}
#pep-menu-btn {
  display: inline-block;
  margin-left: 12px;
}
.card-title {
  color: #33d1ff;
  font-weight: bold !important;
}
.small-logo {
  margin-top: 20px;
  display: inline-block;
}
.toast {
  background: #e91e63;
  font-weight: bold;
}
.input input {
  padding-left: 4px;
}
.brand-logo img {
  padding-top: 6px;
}
.input-field .k-widget {
  width: 100%;
}
.tabs .tab a {
  font-size: 13px;
}
.aba-planilha {
  padding-top: 20px !important;
}
strong {
  font-weight: 900 !important;
}
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 9999;
  text-align: center;
}
.loader img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
}
.modal {
  background: #33d1ff !important;
}
.modal h4 {
  color: #fff !important;
}
html {
  font-family: 'Arvo' !important;
}
#slide-out li {
  position: relative;
}
#slide-out .menu-mobile {
  position: absolute;
  right: 0px;
  top: 0px;
}
.pep-relatorio #main {
  padding-left: 0px !important;
}
@media only screen and (max-width: 992px) {
  .side-nav.fixed {
    width: 100% !important;
    -webkit-transform: none !important;
            transform: none !important;
    position: relative !important;
    padding-bottom: 0px !important;
  }
  #main {
    padding-left: 0px !important;
  }
}
.small-logo {
  font-size: 12px;
}
#pep-lista-atores li {
  opacity: 0;
  font-size: 12px;
}
.secondary-content {
  color: #33d1ff !important;
}
.container .btn {
  background-color: #33d1ff;
}
.pep-atores .collapsible-header {
  background: #26a69a;
  color: #fff;
}
.pep-atores li i.material-icons {
  float: right;
  margin: 0px;
}
.pep-autor-voce {
  font-weight: bold !important;
}
.pep-btn-adicionar-novas-infos {
  width: 100%;
  font-size: 12px;
}
.pep-feed .card-feed .card-content .card-title {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
  display: inline-block;
}
.chip i {
  float: left !important;
  padding-left: 0px !important;
  padding-right: 8px !important;
}
.cargo {
  background: #666;
  line-height: 32px;
  float: left;
  width: 37px;
  font-family: "Arvo";
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  margin-right: 4px;
  text-align: center;
  position: relative;
  left: -1px;
}
.chip-hashtag {
  padding-left: 6px !important;
}
#observacao li {
  list-style-type: disc;
  margin-bottom: 10px;
}
#observacao ul {
  padding: 18px;
}
.link-card {
  color: #111;
}
.modal .modal-footer {
  background: transparent !important;
}
.modal .modal-footer a {
  color: #fff;
}
#formulario-busca {
  margin-top: 15px;
  position: relative;
  height: 70px;
}
#formulario-busca input {
  margin: 0px;
  height: 45px;
  line-height: 66px;
  border: none;
}
#formulario-busca label {
  color: #111;
  top: 8px;
  position: relative;
}
#formulario-busca .btn-enviar-busca {
  background: transparent;
  border: none;
  position: relative;
  top: 20px;
i
  font-size: 24px;
}
.btn-remover-dados-aula {
  float: right;
  font-size: 11px;
}
.container .row .page-title {
  padding-top: 10px;
  padding-bottom: 5px;
  clear: both;
  color: #000 !important;
  background: transparent !important;
}
.container .row .page-title h2 {
  float: left;
  font-family: "Arvo";
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
}
.container .row .page-title .actions {
  float: right;
  margin-right: 12px;
  padding-top: 20px;
}
.container .row .page-title .subtitle {
  font-size: 14px;
  float: left;
  margin-top: 32px;
  margin-left: 10px;
  font-family: "Arvo";
}
.table {
  font-family: "Arvo";
  font-size: 13px;
}
.table td,
.table th {
  padding: 5px;
}
.table .btn {
  padding: 5px;
  height: auto;
  margin-bottom: 10px;
}
.serie-item {
  padding: 10px;
}
div.input {
  position: relative;
  margin-bottom: 20px;
}
.error-message {
  color: #f00;
  font-size: 12px;
  position: absolute;
  left: 0px;
  bottom: -2px;
}
.chip-aluno {
  float: left;
  margin-left: 6px;
}
.chip-remover-aluno {
  float: left;
  margin-left: 1px;
  margin-top: 10px;
}
.chip-materia {
  padding-left: 10px !important;
}
.chip-aluno {
  float: left;
  margin: 10px;
  margin-left: 20px;
  padding: 0px 10px !important;
}
.even {
  background: rgba(0,0,0,0.1);
}
.btn-deletar-serie {
  position: absolute;
  right: 24px;
  font-size: 32px;
  color: #fff;
}
.observacao-area {
  width: 100%;
/*  height: 120px;
  overflow-y: scroll;*/
  margin-bottom: 20px;
}
.observacao-area ul {
  padding-left: 18px;
}
.observacao-area ul,
.observacao-area li {
  list-style-type: disc;
}
#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
/* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  /*background: #d7e4ed;*/
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}
.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}
/*.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
}*/
/*.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}*/
.cd-timeline-img.cd-picture {
  background: #75ce66;
}
.cd-timeline-img.cd-movie {
  background: #c03b44;
}
.cd-timeline-img.cd-location {
  background: #f0ca45;
}
@media only screen and (min-width: 1170px) {
/*  .cd-timeline-img {
    width: 20px;
    height: 20px;
    left: 50%;
    margin-left: -10px;
 Force Hardware Acceleration in WebKit
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }*/
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}
@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
.cd-keep-reading {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 50px;
  line-height: 60px;
  font-weight: bold;
  font-size: 16px;
  color: #FFF;
  background-image: linear-gradient(to bottom, transparent, black);
  text-align: center;
  transition: all 0.25s linear;
}
.cd-keep-reading:hover {
  height: 60px;
  line-height: 60px;
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: rgba(0, 0, 0, 0.03);
  border-radius: 0.25em;
  padding: 1em;
  /*box-shadow: 0 3px 0 #d7e4ed;*/
  text-align: right;
  height: 300px;
  display: inline-block;
  overflow: hidden;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
}
.cd-timeline-content p,
.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: 0.8em 1em;
  background: #acb7c0;
  color: #fff;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: 0.8em 0;
  opacity: 0.7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #fff;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more,
  .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #fff;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
    text-align: left;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #fff;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}
@media only screen and (min-width: 1170px) {
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
